@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.eth-border {
    width: 344px;
    height: 172px;
    margin: 8px 8px 0;
    box-shadow: 0 4px 0 0 rgb(68, 73, 86);
    border: solid 1px rgb(68, 73, 86);
    color: #C2C3C8;
    text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.3);
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.4px;
    &.actions {
        display: flex;
        flex-wrap: wrap;
        height: 140px;
        width: 328px;
        padding: 16px 8px;
        @media (min-width: 420px) {
            margin-top: 0;
        }
    }
    .amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 134px;
        height: 54px;
        padding: 0 12px;
        background: rgb(46, 51, 64);
        border: 1px solid rgb(169, 172, 177);
        .image-wrap {
            display: flex;
            align-items: center;
        }
        .title {
            color: rgb(182, 183, 188);
            width: 90px;
            padding-right: 10px;
            background: transparent;
            border: transparent;
            text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.3);
            &::placeholder {
                color: rgb(182, 183, 188);
            }
            &:focus {
                outline: transparent;
            }
        }
        img {
            height: 22px;
            width: 22px;
        }
    }
    .border-wrap {
        display: inline-block;
        width: 144px;
        height: 56px;
        padding-left: 16px;
        margin-left: 8px;
        text-shadow: none;
        .title {
            margin-top: 6px;
            color: white;
        }
        .number {
            color: rgb(22, 89, 248);
            font-size: 22px;
        }
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 156px;
        height: 48px;
        &.eth {
            border: 1px solid rgb(255, 81, 0);
            background-color: rgba(255, 81, 0, 0.56);
            box-shadow: 0 6px 0 0 rgba(255, 81, 0, 0.3);
        }
        &.claim {
            margin-left: 8px;
            border: 1px solid rgb(25, 88, 248);
            background-color: rgba(25, 88, 248, 0.56);
            box-shadow: 0 6px 0 0 rgba(25, 88, 248, 0.3);
        }
    }
    @media (min-width: 420px) {
        width: 476px;
        margin-top: 22px;
        height: 226px;
        &.actions {
            width: 444px;
            padding: 16px 16px 4px 16px;
            height: 150px;
        }
        .button {
            width: 216px;
            height: 48px;
        }
        .amount {
            width: 188px;
        }
        .border-wrap {
            width: 198px;
            padding-left: 24px;
        }
    }
}

.base-background {
    background-image: url("../../assets/svg/layout.svg");
    position: absolute;
    z-index: 1;
    @media (min-width: 420px) {
        height: calc(100vh - 120px);
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 120px;
    }
}

.bordered-data {
    display: inline-block;
    color: #C2C3C8;
    height: 82px;
    width: 170px;
    background-image: url("../../assets/svg/dataBorder.svg");
    .title,
    .value {
        text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.3);
        margin: 18px 0 0 18px;
    }
    .value {
        margin: 14px 0 0 18px;
    }
    @media (min-width: 420px) {
        height: 102px;
        width: 216px;
        margin: 6px 0 0 14px;
        background-size: 100%;
        .title {
            margin: 26px 0 0 20px;
            font-size: 16px;
        }
        .value {
            margin: 11px 0 0 20px;
            font-size: 19px;
        }
    }
}

.rocket-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 236px;
    width: 346px;
    margin: 50px auto 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/rocket.png');
    img {
        height: 236px;
    }
    @media (min-width: 420px) {
        margin: 0;
        height: 430px;
        background-image: url('../../assets/rocket-desctop.png');
        margin-right: 20px;
        width: 454px;
    }
}