.header-wrap {
    display: flex;
    justify-content: center;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: calc(100% - 30px);
    height: 60px;
    padding: 0 15px;
    .uniswap {
        height: 26px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .metamask-icon {
        width: 20px;
        margin-bottom: 2px;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .wrap-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
    }
    @media (min-width: 421px) {
        width: 920px;
        margin: 26px 230px;
        background: #151E3E;
        border: 1px solid #45536F;
    }
    .alphadrop-notification {
        color: #C2C3C8;
        text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.3);
        font-family: 'Share Tech Mono', monospace;
        font-size: 18px;
        font-style: normal;
        line-height: 1.26;
        letter-spacing: 0.4px;
        position: absolute;
        width: 180px;
        font-size: 16px;
        left: calc(50% - 90px);
        top: 50px;
        @media (min-width: 421px) {
            position: initial;
        }
    }
}

.info {
    margin-top: 10px;
}