body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.button {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    &.cancel {
        color: white;
        background: rgba(255, 0, 0, 0.7);
    }
    &:hover {
        opacity: 0.8;
    }
}

a {
    text-decoration: none;
}